* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  min-height: 100vh;
}

header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#filename {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 16px;
  background-color: #2b2a33;
  color: #fff;
}

.header-btn {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: gray;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
}

.header-btn:hover {
  background-color: darkgray;
}

.header-right {
  display: flex;
}

main {
  height: calc(100vh - 50px);
  display: flex;
}

#editor {
  height: 100%;
  width: 50%;
  overflow-y: auto;
}

#previewContainer {
  height: 100%;
  width: 50%;
  overflow-y: auto;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 300px;
  background-color: #e3e3e3;
  border-radius: 1rem;
}

.modal-content button {
  display: block;
  padding: 10px 20px;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Select Styles */
#select-container {
  position: relative;
  width: 150px;
  margin-right: 10px;
  border-radius: 5px;
}
.select-item {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  background-color: gray;
}

.select-item:hover {
  background-color: darkgray;
}

.select-hide {
  display: none;
}

#select-items {
  max-height: 300px;
  position: absolute;
  background-color: gray; 
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: auto;
}


@media (max-width: 600px){
  header {
    height: 100px;
  }

  main {
    height: calc(100vh - 100px);
  }

  .header-left {
    display: none;
  }
}

@media print {
/*   * { background: transparent !important; color: black !important; filter:none !important; -ms-filter: none !important;} */
  * { overflow: visible !important; }
  header { display: none !important; }
  #editor { display: none !important; }
  #previewContainer {font-size:12pt !important; max-width:100% !important; width: 100% !important; display: block !important; }
  #saveModal { display: none !important; }
  .modal-content { display: none !important; }
  :root, html, body, #app, #main {
    background-color: transparent !important;
    background: transparent !important;
  }
  body{font-size:12pt; max-width:100%;}
  a, a:visited { text-decoration: underline; }
  hr { height: 1px; border:0; border-bottom:1px solid black; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
  blockquote { padding-right: 1em; page-break-inside: avoid; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page :left { margin: 15mm 20mm 15mm 10mm; }
  @page :right { margin: 15mm 10mm 15mm 20mm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  .dark {
    background-color: #000 !important;
    background: #000 !important;
  }
  
}


