* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  min-height: 100vh;
}

header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filename {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 16px;
}

.header-btn {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: gray;
  cursor: pointer;
  margin-right: 10px;
}

.header-btn:hover {
  background-color: darkgray;
}

main {
  height: calc(100vh - 50px);
  display: flex;
}

#editor {
  height: 100%;
  width: 50%;
  overflow-y: auto;
}

#previewContainer {
  height: 100%;
  width: 50%;
  overflow-y: auto;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 300px;
  background-color: #e3e3e3;
  border-radius: 1rem;
}

.modal-content button {
  display: block;
  padding: 10px 20px;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
  cursor: pointer;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@media print {
  * { overflow: visible !important; }
  header { display: none; }
  #editor { display: none; }
  #previewContainer {font-size:12pt; max-width:100%; width: 100%; }
  #saveModal { display: none; }
  .modal-content { display: none; }
}


